@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Force instant scrolling globally */
html {
  scroll-behavior: auto !important;
}

a {
  text-decoration: none;
}
